<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        
        <script src="javascripts/index.js"></script>
        <script src="javascripts/validation.js"></script>
        <link rel="stylesheet" href="stylesheets/index.css">
        <link rel="stylesheet" href="stylesheets/footer.css">
        <link rel="stylesheet" href="stylesheets/header.css">
        
        <style>
          .alertbox{
            width:50%;
            margin:auto;
          }
          .icon {
            padding:11px;
            background: dodgerblue;
            color: white;
            min-width: 50px;
            text-align: center;
          }
        </style>
        <script> 
          window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 5000);

          window.onload = function(){
            var message = "<%= data.message %>";
            console.log(cla);
            var cla = "<%= data.class %>";
            console.log(message);
            if(cla == 'alert-success' || cla=="alert-danger" ){
              let box = document.querySelector("#alertbox")
              box.style.display = "block";
              box.className += cla
              console.log(cla)
              let msg = document.querySelector("#status_message")
              msg.textContent = message
           }     
          }
      </script>
  

    </head>

    <body>
      <div class="container">
        <div class="bg-image jumbotron" style="text-align: center;">
            <h1>ONLINE CLASSES</h1>
        </div>
    </div>    


        <div id="alertbox" class="alert alertbox " style="display: none;">
          <p id="status_message" style="text-align: center;"> </p>   
        </div>
		<div id="loginbox" class="container-fluid  row " >
            <div class="col-3 login">
                <form  id="loginform" class="form" action="/login" method="POST" onsubmit="return login_validation()">
                    <div class="form-group">
                        <h3 style="text-align: center;">Login</h3>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="control-label" for="username">Username</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="fa fa-user   icon"></span>
                            </div>
                            <input class="form-control" type="text"   name="username" placeholder="user@gmail.com">
                        </div>   
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="input-group">
                            <div class="input-group-addon">
                                <span class="fa fa-key   icon"></span>
                            </div>
                            <input class="form-control" type="password"   name="password">
                        </div>
                        
                    </div>
                    
                    <div class="form-group">
                        <div class="input-group">
                          <input class="form-control btn btn-primary" type="submit" value="Login">
                          <input class="form-control btn btn-success" type="button"  value="SIGN UP" onclick="gotoRegister();">
                        </div>
                        
                        
                    </div>
                    <div class="form-group">
                        <a href="/forgotpassword.html">forgot password</a>
                    </div>                    
                    
                </form>
            </div> 
        </div>
        
        <div id="registerbox" class="container-fluid row" style="display:none;">
            <div class="col-3 signup" >
                <form id="registrationform" action="/registration" method="POST" onsubmit="return register_validation()">

                    <div class="form-group">
                      <h3 style="text-align: center;">Registration</h3>
                    </div>
                    <hr>
                  
                    <div class="form-group">
                      <div class="input-group">
                          <div class="input-group-addon">
                            <span class="fa fa-user   icon"></span>
                          </div>
                          <input class="form-control" type="text"  name="first_name" placeholder="first name"> 
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon">
                          
                        </div>
                        <input class="form-control" type="text"  name="last_name" placeholder="last name">  
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <input   type="radio" id="male" name="gender" value="male">
                      <label for="male">Male</label>
                      <input   type="radio" id="female" name="gender" value="female">
                      <label for="female">Female</label>
                      <input   type="radio" id="other" name="gender" value="other">
                      <label for="other">Other</label>   
                    </div>

					          <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon">
                          <span class="fa fa-envelope   icon"></span>
                        </div>
                        <input class="form-control" type="email" name="email" placeholder="email"> 
                      </div>                    	
                    </div>


                    <div class="form-group">
                    	<input   type="radio" id="student" name="role" value="student" onclick="selected_student();">
                      	<label for="student">student</label>
                      	<input   type="radio" id="faculty" name="role" value="faculty" onclick="selected_faculty();">
                      	<label for="faculty">faculty</label>
                    </div>
                    <div class="form-group">   
                      <input class="form-control" type="text" id="scholar" name="scholar" placeholder="Scholar no" >
                    </div>

                    <div class="form-group">
                      <label for="branch">Department</label>
                      <select class="form-control" name="department" id="department">
                        <option value="Architecture">Architecture</option>
                        <option value="Civil">Civil</option>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Electrical">Electrical</option>
                        <option value="Electronics">Electronics</option>
                        <option value="Mechanical">Mechanical</option>
                        <option value="MSME">MSME</option>
                        <option value="planning">Planning</option>
                      </select>
                    </div>

                    <div  id="semester" class="form-group">
                      <div class="input-group">
                          <div class="input-group-addon">
                            <span class="fa fa-university   icon"></span>
                          </div>
                          <input class="form-control" type="search"  name="semester" placeholder="semester" >
                      </div>   
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                          <div class="input-group-addon">
                              <span class="fa fa-key   icon"></span>
                          </div>
                          <input class="form-control" type="password" id="password" name="password" placeholder="password" required>
                      </div> 
                    </div>

                    <div class="form-group">
                      <div class="input-group">
                        <input class="form-control btn btn-primary " type="submit" value="Submit">
                        <input class="form-control btn btn-danger " type="button" value="Cancel" onclick="gotoLogin();">
                      </div>  
                    </div>  

                </form>
            </div>
        </div>

        <footer class="container " style="margin-top: 25px;" >
          <div class="padding jumbotron">
            <div class="row"> 
                <div class="col-9"  style="line-height: 30%" >
                  <h3>Contact us</h3><br>
                  <p ><i class="fa fa-facebook"></i> anupamjain007</p>
                  <p ><i class="fa fa-instagram"></i>_anupam__jain</p>
                  <p ><i class="fa fa-phone-square "></i>88787809040</p>
                  <p ><i class="fa fa-envelope"></i> anupamjain1998@gmail.com</p>
                </div>
                <div class="col-3  " >
                  <img src="images/developer.jpg" class="rounded-image    "   >
                  <h3>developer</h3>
                </div>
             </div>   
          </div>
        </footer>
    </body>
</html>