.bg-image {
  background-image: url("../images/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

  .jumbotron{
    margin-top: 25px;
  }
